@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

:root {
    --main-red: #be3144;
    --main-white: #f0f0f0;
    --main-blue: #45567d;
    --main-gray: #303841;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0px auto;
}

#navbar {
    background-color: var(--main-red);    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0rem 1rem;
    z-index: 10;
}

li {
    list-style-type: none;
}

.nav-items {
    display: flex;
}

.nav-li > a {
    font-size: 24px;
    color: var(--main-white);
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.nav-li > a:hover {
    background-color: var(--main-blue);
}


/* Welcome Section */

#welcome-section {
    height: 100vh;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    text-align: center;
    position: relative;
}

#greeting {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

#greeting h1 {
    font-size: 55px;
    color: var(--main-white);
    letter-spacing: 0.15rem;
    font-weight: 700;
}
#greeting p {
    font-size: 30px;
    font-style: italic;
    color: var(--main-red);
}



/* Projects Section */
#projects {
    background-color: var(--main-blue);
    padding: 5rem 0;
}

#projects .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#projects h1 {
    max-width: 640px;
    text-align: center;    
    color: var(--main-white);
    margin: 0px auto;
    font-size: 40px;
    border-bottom: 0.2rem solid var(--main-white);
    padding-bottom: 0.8rem;
    margin-bottom: 3rem;
}

.project-tile {
    display: block;
    width: 30%;
    text-decoration: none;
}

.project-image {
    width: 100%;
    display: block;
    height: calc(100% - 6.8rem);
}

.project-title {
    text-decoration: none;
    text-align: center;
    background-color: var(--main-gray);
    padding: 1rem;
    font-weight: 400;
    color: var(--main-white);
}

.code {
    opacity: 0;
    color: var(--main-red);
    padding: 0.15rem;
    font-weight: 700;
    transition: opacity 0.3s ease;
}

.project-tile:hover .code {
    opacity: 1;
}

.show-all {
    display: block;
    width: 180px;
    background-color: var(--main-gray);
    color: var(--main-white);
    text-align: center;
    font-size: 24px;
    padding: 0.3rem 0;
    margin: 0 auto;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.show-all:hover {
    background-color: var(--main-red);
}


/* Work together section */
#work-together {
    height: 80vh;
    background-color: var(--main-gray);
    color: var(--main-white);
    position: relative;
}

#contact {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#contact h1 {
    font-size: 50px;
}

#contact p {
    font-style: italic;
}

.social-links {
    margin-top: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social-links a {
    color: var(--main-white);
    font-size: 22px;
    margin: 0 1rem;
    transition: transform 0.3s ease;
}

.social-links a:hover {
    transform: translateY(30%);
}


footer {
    height: 20vh;
    background-color: var(--main-gray);
    border-top: 0.4rem solid var(--main-red);
    font-size: 20px;
    color: var(--main-white);
}

footer .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

@media only screen and (max-width: 1090px) {
    .project-tile {
        width: 45%;
    }
}

@media only screen and (max-width: 730px) {
    .project-tile {
        width: 95%;
    }
  
  #navbar {
    justify-content: center;
  }
  
  #navbar > li a {
    font-size: 22px;
  }
  
   #contact h1 {
     font-size: 2.5em;
   }

  .social-links a {
        font-size: 18px;
  }
  
  footer p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  #navbar {
    padding:0;
  } 
  
  #greeting h1 {
    font-size: 25px;
  }
  
  #greeting p {
    font-size: 20px;
  }
  
  .nav-li > a {
    font-size: 20px;
  }
  
  #contact h1 {
    font-size: 25px;
  }
  
  .social-links a {
    font-size: 14px;
  }
  
  footer container {
    padding: 5px;
  }
  
  footer p:first-of-type {
    display: none;
  }
}